{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-pub",
      {
        "publishPub": false
      }
    ],
    "@semantic-release/github"
  ]
}